* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.header-container2 {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.header-container2 input {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}

.header-container3 {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container3 a {
    text-decoration: none;
}

.header-container4 {
    display: flex;
    align-items: start;
    gap: 30px;
}

.header-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211C24;
    color: rgb(147, 145, 145);
    padding: 10px;
    gap: 70px;
}

.header-box1 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.header-box2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-box3 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.header-box4 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.header-box5 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.header-box6 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #211C24;
    padding: 0 50px;
}

.hero-container1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.hero-container1 button {
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #211C24;
    border: 1px solid white;
}

.hero-container2 {
    width: 400px;
    height: 622px;
    justify-content: center;
}

.main-section1 {
    display: flex;
}

.section1-container1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.section1-box1 {
    display: flex;
    align-items: center;
}

.section1-box2 {
    display: flex;
}

.section1-box2-content1 {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #EDEDED;
    gap: 10px;
}

.section1-box2-content2 {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #353535;
    color: white;
    gap: 10px;
}

.section1-container2 {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #EDEDED;
}

.tittle4 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
}

.tittle4 button {
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.main-section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px;
}

.section2-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-box1 {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 8px;
}

.section2-box2 {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 8px;
}

.section2-box3 {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 8px;
}

.section2-box4 {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 8px;
}

.section2-box5 {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 8px;
}

.section2-box6 {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 8px;
}

.main-section3 {
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 15px;
}

.section3-container1 {
    display: flex;
    gap: 20px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
}

.card1-tittle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card1-tittle button {
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #211C24;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card1-tittle p {
    font-size: 0.8rem;
}

.section3-container2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.main-section4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section4-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(158, 156, 156);
    padding: 10px;
}

.section4-container1 img {
    width: 250px;
    height: 300px;
}

.section4-tittle {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 10px;
}

.section4-tittle button {
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 10px;
}

.section4-tittle p {
    font-size: o.5rem;
}

.main-section5 {
    display: flex;
    flex-direction: column;
    padding: 70px;
    gap: 15px;
}

.section5-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
}

.section5-card-tittle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section5-card-tittle button {
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #211C24;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.section5-container2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.section5-card-tittle p {
    font-size: 0.8rem;
}

.main-section6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #353535;
}

.section6-container1 {
    width: 30%;
}

.section6-container2 {
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.section6-container2 h1 {
    font-size: 3rem;
}

.section6-container2 p {
    font-size: 0.8rem;
}

.section6-container2 button {
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    color: white;
    border: 1px solid white;
}

.section6-container3 {
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    padding: 40px;
}

.footer-container1 {
    display: flex;
    color: white;

}

.footer-container2 {
    color: white;
    display: flex;
    gap: 20px;
}

.footer-box1 {
    width: 50%;
}

.footer-box2 {
    display: flex;
    width: 50%;
    justify-content: space-around;

}

.footer-content1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
    padding-bottom: 20px;
}